/* FOOTER GLOBAL */
.footer {
    background: var(--vert-500);
    color: var(--beige100);
    padding: 40px 30px 25px;
    font-family: Helvetica, sans-serif;
}

/* SLOGAN */
.footer__slogan {
    font-family: var(--titre);
    font-size: 36px;
    line-height: 42px;
    max-width: 280px;
    margin-bottom: 40px;
    color: var(--beige100);
    text-transform: uppercase;
}

/* NAVIGATION */
.footer__nav {
    margin-bottom: 40px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list li {
    margin-bottom: 12px;
}

.footer__list a {
    color: var(--beige100);
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}

.footer__list a:hover {
    text-decoration: underline;
}

/* RÉSEAUX SOCIAUX */
.footer__socials {
    display: flex;
    gap: 25px;
    margin: 25px 0 35px;
}

.footer__socials img {
    width: 38px;
    height: 38px;

    /* On transforme le SVG en "masque" */
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: var(--icon-color);
}


/* BAS DU FOOTER */
.footer__bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    /* gauche | droite */
    align-items: center;
    font-size: 13px;
    row-gap: 6px;
}

/* Colonne gauche : mentions + mail */
.footer__left {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.footer__bottom a {
    color: var(--beige100);
    text-decoration: none;
}

.footer__bottom a:hover {
    text-decoration: underline;
}

/* Colonne droite : copyright */
.footer__copy {
    text-align: right;
    white-space: nowrap;
    /* empêche les retours à la ligne */
}