/* About section (A propos) */

.about {
    background: var(--beige100);
    padding: 40px 30px 60px;
    text-align: left;
}

.about .section__title {
    font-family: var(--titre);
    font-size: 36px;
    line-height: 45px;
    color: var(--vert-500);
    margin-bottom: 10px;
}

.about .section__desc {
    font-size: 13px;
    font-weight: 700;
    color: var(--vert-500);
    line-height: 1.2;
    max-width: 260px;
}

.about .section__illustration--full img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
}