/* --- CARROUSEL PARTENAIRES --- */

.partners-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    max-width: 360px;
    position: relative;
}

.partners-carousel .carousel__image {
    width: 200px;
    /* taille fixe */
    height: 200px;
    background: #fff;
    /* optionnel : fond blanc propre */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* pour éviter que les logos collent aux bords */
}

.partners-carousel .carousel__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* GARANTIT une taille uniforme */
}