/* ===========================
      PAGE MENU (FULL SCREEN)
=========================== */

.menu-page {
    background: var(--vert300);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


/* ===========================
      HEADER
=========================== */

.menu-header {
    height: 132px;
    background: var(--vert300);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-header__logo {
    font-family: var(--titre);
    font-size: 40px;
    color: var(--beige100);
    text-decoration: none;
}

/* BOUTON FERMER (la croix) */
.menu-header__close {
    position: absolute;
    right: 25px;
    top: 55px;
    width: 24px;
    height: 30px;

    background: none;
    border: none;
    cursor: pointer;

    /* La croix tracée en CSS, identique Figma */
    position: absolute;
}

.menu-header__close::before,
.menu-header__close::after {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 24px;
    height: 2px;
    background: var(--beige100);
}

.menu-header__close::before {
    transform: rotate(45deg);
}

.menu-header__close::after {
    transform: rotate(-45deg);
}


/* ===========================
      CONTENU DU MENU
=========================== */

.menu-content {
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
}


/* LISTE DES LIENS */
.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-nav li {
    margin-bottom: 14px;
}

.menu-nav a {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    color: var(--beige100);
    text-decoration: none;
}


/* ===========================
      TRAIT SÉPARATEUR 
=========================== */

.menu-separator {
    width: 300px;
    height: 0;
    border-top: 3px solid var(--beige100);
    margin: 40px auto;
}


/* ===========================
      ICONES RÉSEAUX SOCIAUX
=========================== */

.menu-socials {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.menu-socials img {
    width: 40px;

    /* Rend l’icône blanche */
    filter: brightness(0) invert(1);
    /* Ajuste pour approcher var(--beige100) */
    opacity: 0.92;
    /* Rend les icônes couleur beige comme Figma mais sans la variable car je n'y arrive pas */
}


/* ===========================
      FOOTER DU MENU
=========================== */

.menu-footer {
    margin-top: 40px;
    padding: 0 0px;
    color: var(--beige100);
    font-size: 13px;
    line-height: 27px;
}

.menu-footer p,
.menu-footer a {
    margin: 0;
    color: var(--beige100);
    text-decoration: none;
}

.menu-footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}